<form [formGroup]="pal" class="form_create_owner">
    <div>
        <mat-accordion >
            <div class="form_fields">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div *ngIf="pal.controls['palIdentityInformation'].get('name')!.value != ''">
                                {{pal.controls['palIdentityInformation'].get('name')!.value}}
                            </div>
                            <div *ngIf="!(pal.controls['palIdentityInformation'].get('name')!.value != '')">
                                Pal {{number}}
                            </div>
                            <div *ngIf="(pal.controls['palIdentityInformation'].get('specie')!.value != null)">
                                <img class="ml-5 p-1 bg-blue-500 rounded-full"
                                        src="assets/{{pal.controls['palIdentityInformation'].get('specie')!.value.id}}-icon.svg"
                                        alt="icon"/>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                                <mat-stepper orientation="vertical" [linear]="true" #stepper>
                                    <mat-step label="Pal Identity Information" [stepControl]="pal.controls['palIdentityInformation']">
                                        <ng-template matStepperIcon="edit">
                                            <mat-icon>
                                                <img
                                                        src="assets/{{pal.controls['palIdentityInformation'].get('specie')!.value}}-icon.svg"
                                                        alt="icon"/>
                                            </mat-icon>
                                        </ng-template>
                                        <ng-template matStepLabel>Pal Identity</ng-template>
                                        <form [formGroup]="asFormGroup(pal.controls['palIdentityInformation'])">
                                            <mat-form-field hintLabel="Max 15 characters">
                                                <mat-label>ICAD</mat-label>
                                                <input type="text" matInput maxlength="15" class="input_create_owner"
                                                       name="icadIdentifier" autocomplete="off"
                                                       formControlName="icadIdentifier"
                                                       placeholder="250...">
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Max 25 characters">
                                                <mat-label>Name</mat-label>
                                                <input type="text" matInput maxlength="10" class="input_create_owner"
                                                       name="name" autocomplete="off"
                                                       formControlName="name"
                                                       placeholder="Ashe">
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Max 25 characters">
                                                <mat-label>Short name</mat-label>
                                                <input type="tel" matInput maxlength="10" class="input_create_owner"
                                                       name="name" autocomplete="off"
                                                       formControlName="shortname"
                                                       placeholder="Ashe">
                                            </mat-form-field>
                                            <mat-form-field >
                                                <mat-label>Birthdate</mat-label>
                                                <input type="date" matInput [max]="maxBirthDate" class="input_create_owner"
                                                       [required]="true"
                                                       formControlName="birthDate"
                                                       autocomplete="off">
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Select a specie">
                                                <mat-label>Specie</mat-label>
                                                <mat-select id="pal_specie" [required]="true"  (selectionChange)="getBreedForSpecie()"
                                                            formControlName="specie" class="input_create_owner">
                                                    <mat-option *ngFor="let option of speciesOptions;"
                                                                [value]="option">
                                                        {{ option.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Select a breed">
                                                <mat-label>Breed</mat-label>
                                                <mat-select id="pal_breed" [required]="true"
                                                            formControlName="breed" class="input_create_owner">
                                                    <mat-option *ngFor="let option of breedList" [value]="option">
                                                        {{ option.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Select pal sex">
                                                <mat-label>Sex</mat-label>
                                                <mat-select id="pal_is_male" [required]="true"
                                                            formControlName="isMale" class="input_create_owner"
                                                >
                                                    <mat-option *ngFor="let option of sexOptions;"
                                                                [value]="option.value">{{ option.label }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Pal has passport ?">
                                                <mat-label>Passeport européen</mat-label>
                                                <mat-select id="pal_has_passport" [required]="true"
                                                            formControlName="hasPassport" class="input_create_owner"
                                                >
                                                    <mat-option *ngFor="let option of passportOptions;"
                                                                [value]="option.value">{{ option.label }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <div>
                                                <button mat-button matStepperPrevious>Back</button>
                                                <button mat-button matStepperNext>Next</button>
                                            </div>
                                        </form>
                                    </mat-step>
                                    <mat-step [stepControl]="pal.controls['palMedicalInformation']"
                                              label="Pal Medical Information">
                                        <ng-template matStepperIcon="edit">
                                            <mat-icon>
                                                <img
                                                        src="assets/{{pal.controls['palIdentityInformation'].get('specie')!.value}}-icon.svg"
                                                        alt="icon"/>

                                            </mat-icon>
                                        </ng-template>
                                        <form [formGroup]="asFormGroup(pal.controls['palMedicalInformation'])">
                                            <mat-form-field hintLabel="Pal vaccines up to date ?">
                                                <mat-label>Vacciné</mat-label>
                                                <mat-select id="pal_is_vaccinated" [required]="true"
                                                            formControlName="isVaccinated" class="input_create_owner">
                                                    <mat-option *ngFor="let option of passportOptions;"
                                                                [value]="option.value">{{ option.label }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Pal vaccines up to date ?">
                                                <mat-label>Stérilisé</mat-label>
                                                <mat-select id="pal_is_sterilized" [required]="true"
                                                            formControlName="isSterilized">
                                                    <mat-option *ngFor="let option of passportOptions;"
                                                                [value]="option.value">{{ option.label }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Next vaccine</mat-label>
                                                <input type="date" matInput [min]="minDate" class="input_create_owner"
                                                       autocomplete="off" formControlName="nextVaccine">
                                            </mat-form-field>
                                            <div>
                                                <button mat-button matStepperPrevious>Back</button>
                                                <button mat-button matStepperNext>Next</button>
                                            </div>
                                        </form>
                                    </mat-step>
                                    <mat-step [stepControl]="pal.controls['palMeasurement']" label="Measurements">
                                        <ng-template matStepperIcon="edit">
                                            <mat-icon>
                                                <img
                                                        src="assets/{{pal.controls['palIdentityInformation'].get('specie')!.value}}-icon.svg"
                                                        alt="icon"/>

                                            </mat-icon>
                                        </ng-template>
                                        <form [formGroup]="asFormGroup(pal.controls['palMeasurement'])">
                                            <mat-form-field hintLabel="Pal weight (kg)">
                                                <mat-label>Weight</mat-label>
                                                <input type="number" matInput maxlength="10"
                                                       name="weight" autocomplete="off" formControlName="weight"
                                                       [min]="0.1" [max]="500.0" [step]="0.2" class="input_create_owner"
                                                       placeholder="0.1">
                                            </mat-form-field>
                                            <mat-form-field hintLabel="Pal height (cm)">
                                                <mat-label>Height</mat-label>
                                                <input type="number" matInput maxlength="10" class="input_create_owner"
                                                       name="height" autocomplete="off" formControlName="height"
                                                       [min]="0.1" [max]="1000.0" [step]="0.2"
                                                       placeholder="0.1">
                                            </mat-form-field>

                                            <div>
                                                <button mat-button matStepperPrevious>Back</button>
                                                <button mat-button matStepperNext>Next</button>
                                            </div>
                                        </form>
                                    </mat-step>
                                </mat-stepper>
                </mat-expansion-panel>
            </div>
        </mat-accordion>

        <mat-divider>
        </mat-divider>
    </div>


</form>