.content {
    max-width: 300px;
}

mat-form-field {
    display: flex;
    position: center;
}

mat-divider {
    margin: 12px;
}

.divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
}

.button_create_caregiver {
    width: 300px;
}


.input_create_caregiver {
    height: 25px;
}

@media screen and (max-height: 750px) {
    .form_create_caregiver {
        padding-top: 50px;
    }
}