.content {
    max-width: 300px;
}

mat-form-field {
    display: flex;
    position: center;
}

mat-divider {
    margin: 12px;
}

.divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
}

.button_create_caregiver {
    width: 300px;
}


.input_create_caregiver {
    height: 25px;
    all:unset;
    color: #2f2f2f;
}
.input_create_caregiver:focus {
    height: 25px;
    all:unset;

}

mat-select{
    background-color: transparent;
    border: transparent;
}
mat-select:focus{
    all:unset;
}

