
<form [formGroup]="form" (ngSubmit)="createCaregiver()" class="form_create_caregiver">
    <mat-form-field>
        <mat-label>Je suis un...</mat-label>
        <mat-select formControlName="caregiverType" id="select_caregiver_type">
            <mat-option *ngFor="let caregiverType of caregiverTypes;"
                        [value]="caregiverType.value">{{caregiverType.label}}</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input formControlName="firstName" matInput maxlength="35" class="input_create_caregiver"
               placeholder="Ex. Nougat">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input formControlName="lastName" matInput maxlength="35" class="input_create_caregiver"
               placeholder="Ex. Nougat">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input formControlName="address" matInput maxlength="250" class="input_create_caregiver"
               placeholder="Ex. Nougat">
        <mat-hint align="end">{{form.get("address")!.value.length}}/250</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Ville</mat-label>
        <input formControlName="city" matInput maxlength="25" class="input_create_caregiver" placeholder="Ex. Nougat">
        <mat-hint align="end">{{form.get("city")!.value.length}}/25</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Code postal</mat-label>
        <input formControlName="zipCode" matInput maxlength="5" class="input_create_caregiver" placeholder="92150">
        <mat-hint align="end">{{form.get("zipCode")!.value.length}}/5</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Pays</mat-label>
        <input formControlName="country" matInput maxlength="10" class="input_create_caregiver" placeholder="Ex. Nougat"
               value="France">
        <mat-hint align="end">{{form.get("country")!.value.length}}/10</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 10 char1acters">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput maxlength="100" class="input_create_caregiver"
               placeholder="Ex. Nougat">
        <mat-hint align="end">{{form.get("email")!.value.length}}/100</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Téléphone</mat-label>
        <input formControlName="phoneNumber" type="tel" matInput maxlength="10" class="input_create_caregiver"
               placeholder="Ex. Nougat">
        <mat-hint align="end">{{form.get("phoneNumber")!.value.length}}/10</mat-hint>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Compétences et disponibilités
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Compétences</mat-label>
                <mat-select formControlName="palsHandled" multiple id="select_pals_handled">
                    <mat-option *ngFor="let pal of palsHandled;" value="{{pal.value}}">{{pal.label}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Disponibilités</mat-label>
                <mat-select formControlName="workingDays" multiple id="select_working_days">
                    <mat-option *ngFor="let day of days;" value="{{day.value}}">{{day.label}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Déplacements</mat-label>
                <mat-select formControlName="homeService" id="select_home_service">
                    <mat-option *ngFor="let hs of homeService;" value="{{hs.value}}">{{hs.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-divider>
    </mat-divider>
    <button mat-flat-button type="submit" color="primary" class="button_create_caregiver">Enregistrer</button>
</form>