

<div>

    <form [formGroup]="form" (ngSubmit)="createCaregiver()" class="form_create_owner flex-col" autocomplete="off">

        <mat-accordion>
            <div class="form_fields">
                <mat-expansion-panel class="margin-bottom" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            I am a...
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <mat-label>I am a...</mat-label>
                        <mat-select formControlName="caregiverType" id="select_caregiver_type">
                            <mat-option *ngFor="let caregiverType of caregiverTypes;"
                                        [value]="caregiverType.value">{{ caregiverType.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>

                <mat-expansion-panel class="margin-bottom" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal informations
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="form_owner">
                        <mat-form-field>
                            <mat-label>First name</mat-label>
                            <input type="text" formControlName="firstName" name="firstName" matInput maxlength="35"
                                   class="input_create_owner" autocomplete="off" placeholder="Ex. David">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Last name</mat-label>
                            <input type="text" formControlName="lastName" name="lastName" matInput maxlength="35"
                                   class="input_create_owner" autocomplete="off" placeholder="Ex. Bowie">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input type="text" formControlName="address" name="address" matInput maxlength="250"
                                   class="input_create_owner" autocomplete="off" placeholder="Ex. 12, rue des Alyzées">
                            <mat-hint align="end">{{ form.get("address")!.value.length }}/250</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>City</mat-label>
                            <input type="text" formControlName="city" name="city" matInput maxlength="25"
                                   class="input_create_owner" autocomplete="off" placeholder="Ex. Lille">
                            <mat-hint align="end">{{ form.get("city")!.value.length }}/25</mat-hint>
                        </mat-form-field>
                        <mat-form-field hintLabel="Max 10 characters">
                            <mat-label>Zip code</mat-label>
                            <input type="text" formControlName="zipCode" name="zipCode" matInput maxlength="5"
                                   class="input_create_owner" autocomplete="off" placeholder="59000">
                            <mat-hint align="end">{{ form.get("zipCode")!.value.length }}/5</mat-hint>
                        </mat-form-field>
                        <mat-form-field hintLabel="Max 10 characters">
                            <mat-label>Country</mat-label>
                            <input type="text" formControlName="country" name="country" matInput maxlength="10"
                                   class="input_create_owner" autocomplete="off" placeholder="France">
                            <mat-hint align="end">{{ form.get("country")!.value.length }}/10</mat-hint>
                        </mat-form-field>
                        <mat-form-field hintLabel="Max 100 characters">
                            <mat-label>Email</mat-label>
                            <input type="email" formControlName="email" name="email" matInput maxlength="100"
                                   class="input_create_owner" autocomplete="off" placeholder="Ex. my-doggo@gmail.com">
                            <mat-hint align="end">{{ form.get("email")!.value.length }}/100</mat-hint>
                        </mat-form-field>
                        <mat-form-field hintLabel="Password">
                            <mat-label>Password</mat-label>
                            <input type="password" formControlName="password" name="password" matInput maxlength="100"
                                   class="input_create_owner" autocomplete="off" placeholder="*****">
                            <mat-hint align="end">{{ form.get("password")!.value.length }}/100</mat-hint>
                        </mat-form-field>
                        <mat-form-field hintLabel="Max 10 characters">
                            <mat-label>Phone number</mat-label>
                            <input type="tel" formControlName="phoneNumber" name="phoneNumber" matInput maxlength="10"
                                   class="input_create_owner" autocomplete="off" placeholder="Ex. 0610203040">
                            <mat-hint align="end">{{ form.get("phoneNumber")!.value.length }}/10</mat-hint>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="margin-bottom" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Skills and disponibility
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="form_owner">
                        <mat-form-field>
                            <mat-label>Skills</mat-label>
                            <mat-select formControlName="palsHandled" id="select_pals_handled" multiple>
                                <mat-option *ngFor="let pal of specieOptions;" value="{{pal.name}}">{{ pal.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Disponibility</mat-label>
                            <mat-select formControlName="workingDays" multiple id="select_working_days">
                                <mat-option *ngFor="let day of days;" value="{{day.value}}">{{ day.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>At home service</mat-label>
                            <mat-select formControlName="homeService" id="select_home_service">
                                <mat-option *ngFor="let hs of homeService;" [value]="hs.value">{{ hs.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-accordion>

        <mat-divider></mat-divider>

        <div class="grid grid-cols-3">
            <button type="submit" color="primary" class="col-start-2 mt-3">
                Save
            </button>
        </div>
    </form>
</div>
