.test{
    display: flex;
    position: absolute;
    top: 15vh;
    left: 15vh;
}

.greet_input{
    width: 235px;
}
.tauri_form{
    width: 250px;
    align-content: center;
    margin: auto;
}

.main{
    justify-content: space-evenly;
    margin-top: 100px;
}


