<html>
<head>

  <title>Simple Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <style>
    #map { height: 500px; width: 1200px}
  </style>
</head>
<body>
<app-location (updatedLocation)="GetLocationData($event)"></app-location>

<div id="map"></div>
<button (click)="editMode = !editMode">Ajouter une Place</button>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  // JavaScript to initialize the map will go here
</script>
</body>
</html>
