<app-location (updatedLocation)="GetLocationData($event)"></app-location>


<div class="col-start-2 col-span-1 grid-cols-subgrid grid-rows-2 ">

    <form [formGroup]="form" class="form_create_owner" autocomplete="off">

        <div>
            <div>
                <mat-accordion>
                    <div class="form_fields">
                        <mat-expansion-panel class="margin-bottom" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Owner
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="form_owner">
                                <mat-form-field>
                                    <mat-label>Username</mat-label>
                                    <input type="text" formControlName="username" name="username" matInput
                                           maxlength="35"
                                           class="input_create_owner" autocomplete="off" [required]="true"
                                           placeholder="Ex. Sidney">
                                </mat-form-field>
                                <mat-form-field hintLabel="Max 10 char1acters">
                                    <mat-label>Email</mat-label>
                                    <input type="email" formControlName="email" matInput maxlength="100"
                                           class="input_create_owner"
                                           name="email" autocomplete="off" [required]="true"
                                           placeholder="Ex. my-doggo@gmail.com">
                                    <mat-hint align="end">{{ form.get("email")!.value.length }}/100</mat-hint>
                                </mat-form-field>
                                <mat-form-field hintLabel="Max 10 characters">
                                    <mat-label>Password</mat-label>
                                    <input type="password" formControlName="password" matInput maxlength="100"
                                           class="input_create_owner"
                                           name="password" autocomplete="off" [required]="true"
                                           placeholder="Your password">
                                </mat-form-field>
                                <mat-form-field hintLabel="Max 10 characters">
                                    <mat-label>Téléphone</mat-label>
                                    <input formControlName="phoneNumber" type="tel" matInput maxlength="10"
                                           class="input_create_owner"
                                           name="phoneNumber" autocomplete="off" [required]="true"
                                           placeholder="Ex. 0610203040">
                                    <mat-hint align="end">{{ form.get("phoneNumber")!.value.length }}/10
                                    </mat-hint>
                                </mat-form-field>


                            </div>

                            <mat-divider></mat-divider>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Pal(s)
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>
                                The pal(s) you want to register with
                            </mat-panel-description>
                            <div class="flex flex-col">

                                <div *ngIf="this.form.controls.pals.length != 0">
                                    <app-pal-form [reload]="reload" [pal]="this.form.controls.pals.controls[currentStep]"></app-pal-form>
                                </div>

                            </div>

                        </mat-expansion-panel>
                    </div>

                </mat-accordion>

                <mat-divider>
                </mat-divider>
            </div>

            <div class="grid grid-cols-2 grid-rows-2 bg-white rounded-md shadow-md dark:bg-gray-800">
                <div class="flex items-center justify-center">
                    <button  (click)="this.AddPalToList()"><i class="fa-solid fa-plus mr-2 ml-3"></i> Add a pal</button>

                </div>
                <div class="row-span-2 flex items-center justify-center">
                    <div class="flex">
                        <button (click)="previousStep()" class="flex items-center px-4 py-2 mx-1 text-gray-500 bg-white rounded-md dark:bg-gray-800 dark:text-gray-600">
                            Previous
                        </button>

                        <div *ngFor="let pal of this.form.controls.pals.controls; let i = index">
                            <button (click)="step(i)" [ngClass]="this.currentStep == i ? 'bg-blue-500 text-white': 'text-gray-500'"  class="flex items-center px-4 py-2 mx-1  rounded-md">
                                {{i+1}}
                            </button>
                        </div>

                        <button (click)="nextStep()" class="flex items-center px-4 py-2 mx-1 text-gray-500 bg-white rounded-md dark:bg-gray-800 dark:text-gray-600">
                            Next
                        </button>
                    </div>
                </div>
                <div class="flex items-center justify-center">
                        <button class="bg-red-600" (click)="RemovePal(currentStep)"><i class="fa-solid fa-trash mr-2"></i>Remove pal</button>
                </div>
            </div>
        </div>
    </form>
    <div class="grid grid-cols-3">
        <button type="button" class="col-start-2 mt-3" (click)="ShowList()">
            Save
        </button>
    </div>
</div>


