.input_create_owner {
    height: 25px;
    all:unset;
    color: #2f2f2f;
}
.input_create_owner:focus {
    height: 25px;
    all:unset;

}

.mat-step-icon .mat-step-icon-state-edit{
    width: 35px;
    height: 35px;
}